@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&family=Shippori+Mincho+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

h1, h2, h3 {
  font-family: "Lato";
  color: #464646;
}

h1 {
  font-size: 32px !important;
  font-weight: 700;
}

h2 {
  font-size: 24px !important;
  font-weight: 600;
}

h3 {
  font-size: 18px !important;
  font-weight: 500;
}

body {
  font-family: "Cormorant Garamond", serif;
  color: #464646;
  font-size: 18px !important;
  font-weight: 300;
}

a {
color: #782f40;
}

dt {
  color: #464646;
}

.book .book-summary {
  background-color: #782f40;
}

.book .book-summary ul.summary li a:hover {
  background-color: #f3eee2;
  color: #782f40;
}

.book .book-summary {
  background-color: #23373B;
  font-family: "Lato";
}

.book .book-summary ul.summary li a {
  color: #782f40;
}

.book .book-summary ul.summary li.active>a {
  color: #ceb888;
}

.book .book-summary ul.summary li a:hover {
  background-color: #f3eee2;
  color: #782f40;
}

.book .book-summary .booksearch li a {
  color: #f3eee2;
}
